@import "fonts.scss";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

main {
  .block {
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #000;
  }
}
